*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.mainDiv{
    width:100%;
    height:100vh;
    position:relative;
    background-color: #1a3365;
}

.centerDiv{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
h1{
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.1rem;
    color:#ffbb00;
}
/* textarea{
    
    box-shadow: 0 0 1px rgba(0,0,0,0.2);
    border-radius: 10px 10px 0 0;
    
} */

.btnn {
    
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 20px;
    color: #fff;
    background-color: #ff4343;
  
    cursor: pointer;
   
    margin-top:20px;
    width:100px;
    height: 40px;
    
  }
  
  .btnn:hover {
   
   
    background-color: transparent;
    color: #fff;
  
    border: 0.8px solid #ff4343;
    
  }

  #msg{
      padding:15px;
      color: #ffff;
      font-weight: 300;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: red;
    opacity: 1; /* Firefox */
  }
  