*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.mainDiv{
    width:100%;
    height:100vh;
    position:relative;
    background: linear-gradient(45deg,rgb(172, 56, 56),rgb(0, 183, 255));
}

.centerDiv{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;

}
h1{
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.1rem;
    color:#FFB4AC;
}
/* textarea{
    
    box-shadow: 0 0 1px rgba(0,0,0,0.2);
    border-radius: 10px 10px 0 0;
    
} */

.btnn {
    
    border-radius: 0px;
    outline: none;
    border: none;
    font-size: 20px;
    color: #264E70;
    background-color: #FFB4AC;
  
    cursor: pointer;
   
    margin-top:20px;
    width:100px;
    height: 40px;
    
  }
  
  .btnn:hover {
   
   
    background-color: transparent;
    color: #FFB4AC;
  
    border: 0.8px solid #FFB4AC;
    
  }

  #msg{
      padding:15px;
      color: #ffff;
      font-weight: 300;
  }

  